<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Atividade</title>
</head>
<body>
<center>
    <form method="POST">
        <h2>Número Um: </h2>
        <input type="number" name="numero1"> <br>

        <h2>Número Dois: </h2>
        <input type="number" name="numero2"> <br>

        <h2>Operador: </h2  >
        <select type="text" id="operador">
            <option hidden>selecione</option>
            <option>+</option>
            <option>-</option>
            <option>x</option>
            <option>÷</option>
        </select>
        <input type="submit" name="Calcular">
    </form>
</center>
</body>
<style>
    body{
        padding-top: 10%;
    }
</style>
</html>