<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <center>
    <h2>Resultado: <%=resultado%></h2>
</center>
</body>
<style>
    h2 {
        padding-top: 20%;
    }
</style>
</html>